.blog-inner {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px 30px 6px 30px;
  background-color: #fff;
}

.blog-header {
  font-size: 30px;
}

.blog-info {

}

.blog-content {


  & img {
    max-width: 100%;
  }
}

.blog-img {

  position: relative;
  margin: 15px auto;
  display: table;

  & img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 4px;

  }
}

.blog-label {
  color: white;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.29) 100%);
  padding: 40px 15px 10px;
  margin-bottom: 0;
  font-weight: 600;
  border-radius: 4px;
}

.similar-blog {


  &__wrap {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 24px;
  }

  &__head {
    color: $main-color;
    padding-bottom: 10px;
    border-bottom: 1px solid $main-color;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__img {
    display: block;

    & img {
      width: 100%;
      margin-bottom: 12px;
      border-radius: 4px;
    }
  }

  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      color: $main-color;
    }
  }

  &__content {
    font-size: 14px;
    height: 82px;
    overflow: hidden;

  }


}


.center {
  display: block;
  margin: 0 auto;
}