.container--login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-form {
    max-width: 100%;
    width: 400px;
}

/* side menu */
.wui-side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    backface-visibility: hidden;
    z-index: 3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: webkit-transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out;
}

.wui-side-menu.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.wui-side-menu.open ~ .content .side-menu-trigger {
    display: none;
}

.wui-side-menu.open {
    box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
}

.wui-side-menu .header,
.wui-content-header {
    vertical-align: baseline;
    line-height: 50px;
}

.wui-side-menu-pin-trigger,
.wui-side-menu-trigger {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
}

.wui-side-menu .wui-side-menu-pin-trigger {
    display: none;
    float: right;
}

.wui-side-menu .wui-side-menu-pin-trigger i {
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
}

.wui-side-menu .wui-side-menu-items {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.wui-side-menu .wui-side-menu-item {
    display: block;
    width: 100%;
    padding: 15px 12px;
    border-left: 5px solid transparent;
}

.wui-side-menu .wui-side-menu-item {
    height: 50px
}

.wui-side-menu .wui-side-menu-item i.box-ico {
    margin-right: 4px;
}

/* overlay */
.wui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    display: none;
}

.wui-side-menu.open ~ .wui-overlay, .wui-overlay.active {
    display: block;
}

/* content */
.wui-content {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
    padding: 0 10px;
}

.wui-content .wui-side-menu-trigger {
    margin-left: -10px;
}

@media only screen and (min-width: 768px) {
    .wui-side-menu .wui-side-menu-pin-trigger {
        display: inline-block;
    }

    .wui-side-menu.open {
        box-shadow: initial;
    }

    .wui-side-menu.open ~ .wui-overlay {
        display: none;
    }

    .wui-side-menu.open ~ .wui-content .wui-side-menu-trigger {
        display: none;
    }

    .wui-side-menu.open:not(.pinned) ~ .wui-overlay {
        display: block;
    }

    .wui-side-menu.open:not(.pinned) {
        box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
    }

    .wui-side-menu.open.pinned ~ .wui-content {
        left: 220px;
    }
}

ul.wui-side-menu-items {
    list-style: none;
    padding: 0
}

.wui-side-menu {
    background-color: #292e34;
    color: #ddd;
}

.wui-side-menu .wui-side-menu-trigger:hover,
.wui-side-menu-item:hover,
.wui-side-menu-pin-trigger:hover {
    color: #fff;
    background-color: #383f45;
}

.wui-side-menu a {
    color: #ccc;
    text-decoration: none
}

.wui-side-menu .wui-side-menu-item.active {
    border-left-color: #158439;
    color: #158439
}

.wui-content a {
    color: #000;
}


/* demo */
body {
    margin: 0;
    font-family: 'arial';
    font-weight: 100;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#events {
    background-color: #ccc;
}

.box {
    padding: 20px 10px;
    max-width: 1000px;
    margin: 0 auto;
}


.page-header {
    margin-top: 20px;
    border: solid green;
    padding: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}


.page-header--st {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-area__tag {
    font-size: 14px;
    border-radius: 4px;
    background: #eee;
    margin: 0 12px 12px 0;
    padding: 5px 16px;
    display: inline-block;
    color: #3b3b3b;
    font-weight: 600;
}

.edit-icon {
    margin-right: 6px;
}

.edit-icon:hover {
    text-decoration: none;
}

.edit-icon i {
    color: #008000;
}

.delete-icon i {
    color: #FF0000;
}

.tag-name {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 36px;
}

.blog-add {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;

}

.blog-add__wrap {
    margin-bottom: 24px;
}

.blog-add__title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.blog-add__input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    height: 36px;
    padding-left: 10px;
}

.blog-add__text {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    height: 100px;
    padding: 10px;
}

.blog-add__select {
    width: 100%;
    height: 36px;
    padding-left: 10px;
}

.blog-add__textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    height: 100px;
    padding: 10px;
}

.btn-submit2 {
    background-color: #000;
    text-decoration: none;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    transition: all 0.5s ease;
    margin-top: 20px;


}

.btn-submit2:hover {
     background-color: #000;
     text-decoration: none;
     color: #fff;
 }

.add-form__img {
    margin-bottom: 32px;
}

.btn-submit {
    background-color: #027d00;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 35px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: #fff;
}

.btn-submit i {
    margin-right: 10px;
}

.add-form__img-result {
    text-align: center;
}

.add-form__img-result img{
    max-width: 100%;
    height: auto;
    max-height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
}

.status-icon  {
    font-size: 24px;
}

.status-icon.fa-toggle-on {
    color: green;
}

.status-icon.fa-toggle-off {
    color: grey;
}

.blog_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}